<ng-template #loading>
    <app-progress-spinner></app-progress-spinner>
</ng-template>
<div class="m-top">
    <app-currencies-rates-page></app-currencies-rates-page>
    <div style="margin-top: 40px;" *ngIf="!isLoading else loading">
        <h1>
            Currency Purchase
        </h1>
        <form [formGroup]="purchaseForm" (ngSubmit)="onSubmit()">
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>User</mat-label>
                    <input matInput placeholder="Insert your user id" formControlName="userId">
                </mat-form-field>
            </p>
            <p> 
                <mat-form-field appearance="outline">
                    <mat-label>Currency</mat-label>
                    <mat-select formControlName="currency">
                        <mat-option *ngFor="let code of isoCodes" [value]="code">{{code}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field appearance="outline">
                    <mat-label>Amount in pesos</mat-label>
                    <input type="number" matInput placeholder="Insert the amount" formControlName="amountInPesos">
                </mat-form-field>
            </p>
            <button mat-raised-button color="primary" type="submit">Purchase</button>
        </form>
    </div>
</div>